{% extends "base.html" %}
{% load recommended %}
<style>
#tweet-container {

}
</style>

{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}



{% block content %}


<!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
        <h1>{{ request.user }}</h1>
<!--         <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>-->
         <hr>
         <p class='lead'>Recommended Users</p>
           {% recommended request.user %}
        </div>
      </div>
      <br>
    <!-- End Left Column -->
    </div>


        <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              {% if not request.GET.q %}
               <div class="form-group">
                {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
               </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div id='tweet-container' data-url='/api/tweet/'>

      </div>
      <div class="text-center">
        <a href='#' id='loadmore'>Load More Tweets</a>
      </div>
          <br>


{% endblock content %}