{% extends "base.html" %}
{% block content %}
{% block script %}


<script>
  $(document).ready(function() {
    loadTweetContainer("tweet-container")
  });
</script>
{% endblock script %}
<div class="w3-container w3-content" style="max-width:1400px; margin-top: 20px;">
  <div class="w3-row">

    <div class="w3-col m3">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h1>{{ object.username }} </h1>
          <hr />
          <p>Followers : {{ object.followed_by.all.count }}</p>
          <p>
            <a class="btn btn-link" href="{{ object.profile.get_follow_url }}">
              {% if following %}Unfollow{% else %}Follow{% endif %}
            </a>
          </p>
          <hr />
          <h4>Following <small>{{ object.profile.get_following.count }}</small></h4>
          {% for user in object.profile.get_following  %}
          <a href="/{{ user.username }}"> {{ user.username }}</a> <br />
          {% empty %}
          <h5>Not following any user</h5>
          {% endfor %}

          <hr />
          <h4>Followed By </h4>
          {% for profile in object.followed_by.all  %}
          <a href="/{{ profile.user.username }}"> {{ profile.user.username }}</a> <br />
          {% empty %}
          <h5>Not followed by any users</h5>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="w3-col m7 mt-5">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <div class="form-group">
                <h1>Tweets</h1>
                <div id="tweet-container" data-url="/api/{{ object.username }}/tweet/">
                </div>
                <a href="#" id="loadmore">Load Mote Tweets</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}